{% extends 'site/base.html' %}
{% load static %}
{% block content %}
<style>
	.home-container{

		display: grid;
		grid-template-columns:  1fr 3fr 1fr;

	}
</style>
<h1> index</h1>




<div class='home-container'>

		{% include 'site/topicComponent.html' %}

		<div class='room-wrapper'>
			<h3>Rooms</h3>
			<div>
				<h5>Rooms Available: {{roomCount}}</h5>
				<a href="{% url 'create-room' %}"></a>
			</div>
			{% include 'site/feedComponent.html' %}
			</div>


		{% include 'site/activityComponent.html' %}
</div>


{% endblock %}